.icon {
    font-size: 20px !important;
    color: #FFFFFF !important;
}


#Footer {
    height: 200px;
    background-color: #22333D;
}

#logo h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
}

#logo p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.copyright {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}

.fa:hover {
    font-size: 25px;
    color: #465459 !important;
}

.up {
    height: 15px;
    width: 32px;
}

.icon-x {
    transition: filter 0.3s;
}

.icon-x:hover {
    filter: invert(43%) sepia(14%) saturate(456%) hue-rotate(159deg) brightness(90%) contrast(88%);

}